body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
}

div {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}

input {
  width: 250px;
  height: 250px;
  border: 2px black solid;
}

input:hover {
  border: 2px red solid;
}

.narrator {
  font-size: 40px;
  margin-bottom: 0;
}

.scoreBoard {
  border: 2px black solid;
  margin: auto 340px;
  font-size: 50px;
}