body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
}

div {
  display: flex;
  justify-content: center;
  gap: 50px;
}

input {
  width: 250px;
  height: 250px;
  border: 2px black solid;
}

input:hover {
  border: 2px red solid;
}

.narrator {
  font-size: 40px;
  margin-bottom: 0;
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

.scoreBoard {
  border: 2px black solid;
  justify-content: center;
  width: 600px;
  font-size: 50px;
}

.roundDisplay {
  font-size: 30px;
}