body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
}

div {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

button {
  width: 300px;
  height: 300px;
}

img {
  max-width: 100%;
  height: auto;
}
